@import "https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap";

.App {
    align-items: center;
    font-family: Karla, sans-serif;
    justify-content: center;
    text-align: center;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.question--title {
    align-self: flex-start;
    color: #293264;
    font-family: Karla, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
}

.game {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    text-justify: auto;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    max-width: 90%;
}

.answer {
    background: #f5f7fb;
    border: 1px solid #4d5b9e;
    border-radius: 8px;
    color: #293264;
    font-family: Inter, sans-serif;
    font-size: 10.24px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    padding: 5px 20px;
    text-align: center;
}

.answer-selected {
    background: #d6dbf5;
}

.submit-button {
    background: #4d5b9e;
    border: 1px solid #4d5b9e;
    border-radius: 10px;
    color: #f5f7fb;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    padding: 10px;
    text-align: center;
    width: fit-content;
}

.footer {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}
